ol {
    margin: 0;
    padding: 0;
}

table td,table th {
    padding: 0;
}

/*
URL
*/
.c0 {
    line-height: 1;
    orphans: 2;
    widows: 2;
    padding-top: 0;
    font-size: 13px;
    color: #8899a6;
}

.c7 {
    orphans: 2;
    widows: 2;
}


.c11 {
    color: #666;
    font-size: 12pt;
}

.c2 {
    color: inherit;
    text-decoration: inherit;
}

.c9 {
    background-color: #ff0;
}

.c1 {
    page-break-after: avoid;
}

.c8 {
    color: #f90;
}

.c6 {
    color: red;
}

.c5 {
    height: 11pt;
}

.c4 {
    height: 20pt;
}

.title {
    padding-top: 0;
    color: #000;
    font-size: 26pt;
    padding-bottom: 3pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left;
}

.subtitle {
    padding-top: 0;
    color: #666;
    font-size: 15pt;
    padding-bottom: 16pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left;
}

li {
    color: #000;
    font-size: 11pt;
    font-family: "Arial";
}

p {
    margin: 0;
    color: #000;
    font-size: 11pt;
    font-family: "Arial";
}

h1 {
    padding-top: 20pt;
    color: #000;
    font-size: 20pt;
    padding-bottom: 6pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left;
}

h2 {
    padding-top: 18pt;
    color: #000;
    font-size: 16pt;
    padding-bottom: 6pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left;
}

h3 {
    padding-top: 16pt;
    color: #434343;
    font-size: 14pt;
    padding-bottom: 0;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left;
}

h4 {
    padding-top: 14pt;
    color: #666;
    font-size: 13pt;
    font-weight: 600;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left;
}

h5 {
    padding-top: 12pt;
    color: #666;
    font-size: 11pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left;
}

h6 {
    padding-top: 12pt;
    color: #666;
    font-size: 11pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    font-style: italic;
    orphans: 2;
    widows: 2;
    text-align: left;
}


/************************
******   CUSTOM  ********
************************/

.tweet {
    background-color: #d8eef8;
    padding: 20px 10px;
    margin-bottom: 35px;
    width: 700px;
}

h3 {
    margin: 0;
    padding: 0;
}

h4 {
    margin: 0;
    padding-bottom: 2px;
}

p {
    padding-bottom: 3px;
}
