<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="app.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

</head>
<body ng-app="app" ng-controller="MainController">
    {{content.title}}

    <div class="col-xs-1">
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation" class="active" ng-click="month = 10"><a>October</a></li>
            <li role="presentation"  ng-click="month = 11"><a>November</a></li>
            <li role="presentation" ng-click="month = 12"><a>December</a></li>
        </ul>
    </div>

    <div class="tweets col-md-8">
        <div class="oct" ng-show="month == 1510">
            This is october
        </div>

        <div class="nov" ng-show="month == 11">
            This is november
        </div>

        <div class="dec" ng-show="month == 12">
            This is december
        </div>

    </div>
</body>
</html>